body{
	background-image: url(Images/bgProjekti.jpg);
	color: white;
}


p {outline-color:red;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

.tabela2
{
	border:1px solid white;
}
.tabela2 tr:nth-child(even)
{
	background-color: gray;
}
.tabela2 tr:nth-child(odd)
{
	background-color: gray;
}
a{
	text-decoration: none;
}
#panel,#flip
{
padding:5px;
text-align:center;
background-color:#550033;
border:solid 1px #c3c3c3;
}
#panel
{
padding:50px;
display:none;
}
#example2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

