body{
	background-image: url(Images/bgProjekti.jpg);
	color: white;
}


p {outline-color:red;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

.tabela2
{
	border:1px solid white;
}
.tabela2 tr:nth-child(even)
{
	background-color: gray;
}
.tabela2 tr:nth-child(odd)
{
	background-color: gray;
}
