body{
	background-image: url(Images/bgProjekti.jpg);
	background-size: cover;
	color: white;
}

table
{
	border-collapse: collapse;
}
table, td,th
{
	border: 2px solid gray;
}
th,td
{
	padding: 10px;
	text-align: center;
}
tr:hover 
{
	background-image:url(Images/bgProjekti.jpg);
}

p {outline-color:red;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

.tabela2
{
	border:1px solid white;
}
.tabela2 tr:nth-child(even)
{
	background-color: gray;
}
.tabela2 tr:nth-child(odd)
{
	background-color: black;
}
a{
	text-decoration: none;
}
.shadow{
 text-shadow: 10px 10px 10px brown;
}
 #gradient
    {
        height:200px;
        width: 500px;
        background:linear-gradient(to right,red,blue); 
    }