*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
.main-nav-1
{
	float:left;
	list-style: none;
	margin-top: 0px;
	background-color: #C70C0C;
	padding: 20px;
	width: 1500px;
	margin-top: 3px;
}
.main-nav-1 li
{
	display: inline-block;

}
.main-nav-1 li a
{
	color:white;
	text-decoration: none;
	padding: 2px 5px;
	font-family: "Roboto", sans-serif;
	font-size: 13px;

}
.main-nav-1 li.active a
{
	color: black;
}
.main-nav-1 li a:hover
{
	color:black;
	padding: 10px;
	border-radius: 10px;
	font-size:16px;
}
.row1
{
	margin:auto;
}
.main-nav-2
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #2B1B1B;
	padding: 18px;
	width: 100%;
	border-radius: 5px;
}
.main-nav-2 li
{
	display: inline-block;
}
.main-nav-2 li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.main-nav-2 li.active a
{
	color: red;
}
.main-nav-2 li a:hover
{
	color:red;
}
.row2
{
	max-width: 1680px;
	margin:auto;
}

.form{
	background-color: #ededed;
	border-radius: 5px;
	padding: 4px;
}
.form1{
	color:red;
}
.form2
{
	background-color: #ededed;
	border-radius: 5px;
	padding: 4px;
	color:red;
}
a:hover{
	color:red;
}
a:active{
	color:red;
}
a:visited{
	color:brown;
}

.kerko-box {
 position: absolute;
 top: 3.8%;
 left: 87.5%;
 transform: translate(-50%, -50%);
 background: white;
 height: 20px;
 border-radius: 40px;
 padding: 6px;
}

.kerko-box:hover > .kerko-txt {
 color: black;
}

.kerko-box:hover > .kerko-btn {
 background: #B00808;
 color: white;
}

.kerko-btn {
	position: absolute;
	top:5px;
	left:222px;
 	color: #e84118;
 	float: right;
 	width: 23px;
 	height: 23px;
 	border-radius: 50%;
 	background: #C70C0C;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	color: white;
 	cursor: pointer;
}

.kerko-btn > i {
	font-size: 12px;
}

.kerko-txt {

 border: none;
 background: none;
 outline: none;
 padding: 0px;
 color: black;
 font-size: 14px;
 transition: 0.4s;
 line-height: 40px;
 width: 240px;
 font-weight: bold;
 margin-top: -8px;
}﻿
.pjesa2{
	
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #2B1B1B;
	padding: 100px;
	width: 100%;
}
.rss-list
{
	float:right;
	list-style: none;
}
.rss-list li{
	display: inline-block;
}
.rss-list li a:
{
	color:darkorange;
}
.c1 {
	position: absolute;
	top:130px;
	left:1190px;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	cursor: pointer;

}

.c1 > i {
	font-size: 20px;
	position: absolute;
	color: white;

}
.c1:hover {
 background: orange;
 color: white;
}


.c2 {
	position: absolute;
	top:130px;
	left:1270px;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	cursor: pointer;

}

.c2 > i {
	font-size: 20px;
	position: absolute;
	color: white;

}
.c2:hover {
 background: orange;
 color: white;
}



.c3 {
	position: absolute;
	top:130px;
	left:1310px;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	cursor: pointer;

}

.c3 > i {
	font-size: 20px;
	position: absolute;
	color: white;

}
.c3:hover {
 background: orange;
 color: white;
}



.c4 {
	position: absolute;
	top:130px;
	left:1350px;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	cursor: pointer;

}

.c4 > i {
	font-size: 20px;
	position: absolute;
	color: white;

}
.c4:hover {
 background: orange;
 color: white;
}



.c5 {
	position: absolute;
	
	
	top:130px;
	left:1230px;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 	cursor: pointer;

}

.c5 > i {
	font-size: 20px;
	position: absolute;
	color: white;

}
.c5:hover {
 background: orange;
 color: white;
}
.newLine{
	width: 450px;
	word-wrap: break-word;
}
#wholepage{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.main-nav-2-ekonomi
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: green;
	padding: 18px;
	width: 100%;
	border-radius: 5px;
}
.main-nav-2-ekonomi li
{
	display: inline-block;
}
.main-nav-2-ekonomi li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.main-nav-2-ekonomi li.active a
{
	color: red;
}
.main-nav-2-ekonomi li a:hover
{
	color:red;
}
.main-nav-2-teknologji
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #17614D;
	padding: 18px;
	width: 100%;
	border-radius: 5px;
}
.main-nav-2-teknologji li
{
	display: inline-block;
}
.main-nav-2-teknologji li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.main-nav-2-teknologji li.active a
{
	color: red;
}
.main-nav-2-teknologji li a:hover
{
	color:#19D7A4;
}
.main-nav-2-fun
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #94470C;
	padding: 18px;
	width: 100%;
	border-radius: 5px;
}
.main-nav-2-fun li
{
	display: inline-block;
}
.main-nav-2-fun li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.main-nav-2-fun li.active a
{
	color: red;
}
.main-nav-2-fun li a:hover
{


	color:#808EE5;
}
.main-nav-2-sport
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #660033;
	padding: 18px;
	width: 100%;
	border-radius: 5px;
}
.main-nav-2-sport li
{
	display: inline-block;
}
.main-nav-2-sport li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.main-nav-2-sport li.active a
{
	color: red;
}
.main-nav-2-sport li a:hover
{

	color:#FF00FF;
}