*{
	margin:0;
	padding: 0;
}
.main-nav-2
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #231714;
	padding: 25px;
	width: 100%;
}
.main-nav-2 li
{
	display: inline-block;
}
.main-nav-2 li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
.main-nav-2 li.active a
{
	color: red;
	border: 1px solid red;
}
.main-nav-2 li a:hover
{
	border:1px solid red;
}
.row2
{
	max-width: 1300px;
	margin:auto;
}
.main-nav-1
{
	float:left;
	list-style: none;
	margin-top: 30px;
	background-color: #CF3210;
	padding: 25px;
	width: 100%;
}
.main-nav-1 li
{
	display: inline-block;
}
.main-nav-1 li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.main-nav-1 li.active a
{
	color: black;
	border: 1px solid red;
}
.main-nav-1 li a:hover
{
	color:black;
}
.row1
{
	max-width: 1300px;
	margin:auto;
}