html{
	background: url(Images/5.jpg);
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;}


.prof-box{
	width: 400px;
	height: 450px;
	background: rgb(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin:0 auto;
	margin-top: 130px;
	text-align: center;
}
.prof-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}
p{
	font-weight: 200;
	letter-spacing: 1;
}
.social-icons{
	font-size: 30px;
}
.social-icons a{
	color:white;
}
.line-break{
	width: 312px;
	margin: 0 auto;
	border-top: 1px solid white;
}
.list{
	
	padding: 0px;
}
.list li
{
	display: inline-block;
}
.div1
{
	width: 900px;
	height: 250px;
	background: rgb(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin:0 auto;
	margin-top: 130px;
	text-align: center;
}
a{
	color: white;
}

.mesazh
{

position: absolute;
top: 600px;
left: 630px;
right: 630px;
}